name: Terraform Module Release

on:
  push:
    tags:
      - 'v*.*.*'  # e.g. v1.0.0

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Generate Terraform Docs
        uses: terraform-docs/gh-actions@v1
        with:
          output-file: README.md
          output-method: inject
          config-file: .terraform-docs.yml

      - name: Commit updated docs
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
          git add README.md
          git commit -m "chore(docs): update README with terraform-docs"
          git push

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          generate_release_notes: true
